
 <div style="margin-top: 8px;max-height: 80vh;overflow-y:auto  ">
    <div style="padding: 6px;background-color: #fff;box-shadow: 0px 1px 3px #00000022;margin: 4px 0px " *ngFor="let item of [1,2,3,4]">
      <div style="font-size: 12px;">

        <div style="padding: 4px 0px;font-size: 14px;margin-bottom: 5px;border-bottom: 1px solid #dfdfdf">
          <strong>Angular Component Interaction</strong>
        </div>
        <div>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
        </div>
          <div>
            <ion-chip color="warning" mode="md" size="small" outline="false">
              <ion-label>Pending</ion-label>
            </ion-chip>
            <div style="float: right;padding: 12px;">
                <strong>12/12/2019</strong>

            </div>
          </div>
      </div>
    </div>

  </div>