
<ion-content>
  <div class="ion-padding" style="background-color: #efefef;height: 100%;">
    
    <div style="text-align: center;color:White;font-weight: 600;background-color: #6486f5;border-radius:2px; ;box-shadow: 0px 2px 2px #00000033;padding: 8px;">
       CodeGyaan
    </div>
    <div style="margin-top: 10px;max-height: 80vh;overflow-y:auto  " >

      <div style="padding: 6px;background-color: #fff;box-shadow: 0px 1px 3px #00000022;margin: 4px 0px " *ngFor="let item of [1,2,3,4]">
        <div style="font-size: 12px;">

          <div style="padding: 4px 0px;font-size: 14px;">
            <strong>Angular Component Interaction</strong>
          </div>
          <div>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
          </div>
            <div>
              <ion-chip color="warning" mode="md" size="small" outline="false">
                <ion-label>Pending</ion-label>
              </ion-chip>
              <div style="float: right;padding: 12px;">
                  <strong>12/12/2019</strong>

              </div>
            </div>
        </div>
      </div>

    </div>


  </div>

</ion-content>
<ion-footer style="">
  <div style="padding: 10px;">
    <ion-row>
      <ion-col size="3" class="ion-no-padding">
          <div  style="text-align: center" (click)="OpenCreateForm()">
              <div><ion-icon slot="start"  name="add" ></ion-icon></div>
              <div style="margin-top: -10px"><small>Create</small></div>
          </div>    
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
          <div  style="text-align: center">
              <div><ion-icon slot="start"  name="list" ></ion-icon></div>
              <div style="margin-top: -10px"><small>View Gyaan</small></div>
          </div>    
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
          <div  style="text-align: center">
              <div><ion-icon slot="start"  name="notifications" ></ion-icon></div>
              <div style="margin-top: -10px"><small>Notifications</small></div>
          </div>     
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
          <div  style="text-align: center">
            
              <div><ion-icon slot="start"  name="settings" ></ion-icon></div>
              <div style="margin-top: -10px"><small>Setting</small></div>
          </div>     
      </ion-col>
    </ion-row>
   
  </div>
</ion-footer>
